$primary-color: #111928;
$secondary-color: #5183fe;

$white: #fff;
$danger-color: #ff4d4f;

$background-color: rgba($primary-color, 0.75);
$border-color: rgba($white, 0.1);
$input-background-color: rgba($primary-color, 0.5);

$avatar-box-shadow: 0px 0px 5px 2px $primary-color;
