@import "./mixins";
@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/assets/background.png");
  backdrop-filter: blur(0.5rem) saturate(150%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: $white;
}

.mainContainer {
  height: 80dvh;
  width: 80dvw;
  display: flex;
  gap: 0.5rem;
}
