@import "./mixins";
@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: $white;
}

.mainContainer {
  height: 90dvh;
  width: 90dvw;
  background-color: $background-color;
  backdrop-filter: blur(1.125rem) saturate(180%);
  border-radius: 0.25rem;
  border: 1px solid rgba($white, 0.125);
  display: flex;
}
